body{
    background-color: rgb(192, 124, 35);
    color: white;
    text-shadow: 2px 3px 3px #000;
}

#fo {
    border-top: 10px solid rgb(100, 61, 1);
    border-bottom: 3px solid black;
    float: right;
    margin-top: 0px;  
    margin-bottom: 20px;
    position: static;
}
h1{
    
    padding: 20px;
    background-color: rgb(100, 61, 1);
    border: #000;
    
}
p{
    margin-left: 20px;
    margin-right: 40px;
    
}
hr{
    color:#000;
    border: 2px solid black;
}